:root {
    /* colors */
    --header-color: #4DA167;
    --nav-color: #4D5057;
    --back-color: #CFCFCF;
    --alt-text-color: #3BC14A;
    --hover-color: #9EF01A;

    /* fonts */
    --heading-font: "Luxurious Roman", Georgia, "Times New Roman";
    --body-font: 'Cabin', 'Trebuchet MS', Tahoma;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#course-title {
    display: block;
    font-size: xxx-large;
    font-family: var(--heading-font);
    background-color: var(--header-color);
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-color);
}

nav a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover{
    color: var(--hover-color);
    text-decoration: underline;
}

main {
    margin: 0 5%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}

h1 {
    grid-column: 1/3;
    margin: 1rem;
    font-family: var(--heading-font);
}

.card {
    border: 1px var(--nav-color) solid;
    border-radius: 1rem;
    margin: 0.5rem;
}

.card h2 {
    background-color: var(--header-color);
    border-radius: 1rem 1rem 0 0;
    padding: .5rem;
    font-family: var(--heading-font);
}

.card img {
    width: 200px;
    height: auto;
}

.card p {
    text-align: left;
    font-family: var(--body-font);
}

#woodrow-pic{
    float: right;
    margin: 0 5px 5px 20px;
}

#state-flag {
    float: left;
    margin-right: 1rem;
}

#about-wood {
    margin: 1rem;
}

#about-vernal{
    margin: 1rem;
}

#about-vernal h3 {
    margin: 0 25% 1rem;
    border-bottom: 1px var(--nav-color) solid;
    padding: 10px;
    font-family: var(--heading-font);
}

#about {
    padding-bottom: 1.7rem;
}

figure {
    position:relative;
}

figcaption {
    position: absolute;
    bottom: 0;
    top: 8rem;
    left: 1.5rem;
}

ul {
    list-style-position: inside;
}

li {
    font-size: large;
}

#resource-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: space-around;
    height: 85%;
}

footer {
    background-color: var(--header-color);
    margin-top: 1rem;
    text-align: center;
    font-size: larger;
}